.btn  :hover{
    border: 1px solid black;
}
a .card-link{
    margin-left: 50px;
}
.comment_frame{
height: 110px;
overflow-y: auto;
}
.timeline-likes {
color: #6d767f;
font-weight: 600;
font-size: 15px; 
border-width: 2px;
}
.timeline-likes .stats-right {
float: right
}



.timeline-likes .stats-icon {
float: left;
margin-right: 5px;
font-size: 13px
}

.timeline-likes .stats-icon+.stats-icon {
margin-left: -2px
}

.timeline-likes .stats-text {
line-height: 25px
}

.timeline-likes .stats-text+.stats-text {
margin-left: 15px
}

.h7 {
     font-size: 0.8rem;
 }

 .gedf-wrapper {
     margin-top: 0.97rem;
 }

 @media (min-width: 992px) {
     .gedf-main {
         padding-left: 4rem;
         padding-right: 4rem;
     }
     .gedf-card {
         margin-bottom: 2.77rem;
     }
 }


 .dropdown-toggle::after {
     content: none;
     display: none;
 }
